<div class="modal-content">
    <div class="modal-header">
      <h4>Task Results</h4>
    </div>
    <div class="modal-body">
      <div class="row d-flex justify-content-between" style="margin-left: 15px; margin-right: 15px;">
        <label>Task correct on:</label>
        <label>{{percentage}}%</label>
      </div>
      <div class="row d-flex justify-content-between" style="margin-left: 15px; margin-right: 15px;">
        <label>Time spent:</label>
        <label>{{durationStr}}</label>
      </div>
      <div class="row d-flex justify-content-between" style="margin-left: 15px; margin-right: 15px;">
        <label>Time forfeit:</label>
        <label>{{timeFine}}</label>
      </div>
      <div class="row d-flex justify-content-between" style="margin-left: 15px; margin-right: 15px;">
        <label>Score:</label>
        <label>{{taskResult?.score}}</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="repeat()">Try again</button>
      <button type="button" class="btn btn-primary" (click)="close()">OK</button>
    </div>
</div>