<div class="bg-div" *ngIf="loadingLevels">
    <div class="lds-roller"></div>
</div>

<table *ngIf="!loadingLevels" class="table table-striped table-bordered w-75 mx-auto mt-4">
    <thead>
        <tr>
            <th>Title<span (click)="byTitleSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !titleMode, 'fa-caret-up' : titleMode, 'fa-2x' : true}"></i></span></th>
            <th>Task Count<span (click)="byCountSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !countMode, 'fa-caret-up' : countMode, 'fa-2x' : true}"></i></span></th>
            <th>Difficulty<span (click)="byDifficultySort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !difficultyMode, 'fa-caret-up' : difficultyMode, 'fa-2x' : true}"></i></span></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let level of filteredLevels">
            <tr (click)="showTasks(level?.id)" style="cursor: pointer;">
                <td>{{level?.title}}</td>
                <td>{{level?.tasksCount}}</td>
                <td>{{level?.levelDifficulty | stringDifficulty}}</td>
            </tr>
            <tr *ngIf="level?.isShowTasks">
                <table  class="table table-striped table-bordered w-75 mx-auto mt-4">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Difficulty</th>
                            <th>Attempts Count</th>
                            <th>Best score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let taskDist of level?.taskDistributions">
                            <tr (click)="chooseTask(taskDist?.task?.id)" style="cursor: pointer;">
                                <th>{{taskDist?.taskOrder}}</th>
                                <th>{{taskDist?.task?.taskDifficulty | stringDifficulty}}</th>
                                <th>{{taskDist?.task?.attemptsCount}}</th>
                                <th>{{taskDist?.task?.bestScore}}</th>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </tr>
        </ng-container>
    </tbody>
</table>
