<div style="margin: 30px; padding-left: 70px; padding-right: 70px;">
    <div class="row">
        <p class="mx-auto mt-4">{{task?.levelTitle}}</p>
    </div>
    <div class="row d-flex justify-content-between">
        <p>{{task?.question}}  {{task?.htmlText}}</p>
        <p>Time spent: {{durationStr}}</p>
    </div>  
    <ngx-codemirror
        [(ngModel)]="content"
        [options]="{
            lineNumbers: true,
            theme: 'material',
            mode: 'css'
        }"
    ></ngx-codemirror>
    <ngx-codemirror
        *ngIf="showAnswer"
        [(ngModel)]="cssExpectedText"
        [options]="{
            lineNumbers: true,
            mode: 'css',
            readOnly: 'nocursor'
        }"
    ></ngx-codemirror>
    <div class="form-row d-flex justify-content-between" style="margin: 10px">
        <button class="btn btn-success w-25" (click)="changeAnswerVisible()">{{answerBtnTitle}}</button>
        <button class="btn btn-secondary w-25" (click)="run()">Run</button>
        <button class="btn btn-primary w-25" (click)="complete()">Check Task</button>
    </div>
    <div style="display: flex;">
        <div style="flex: 50%; border: 2px solid #dadce0; border-radius: 8px; margin: 5px; padding: 5px; max-width: 50%;">
            <div style="text-align: center;">
                Your result:
            </div>
            <app-useranswer  [htmlText]="htmlText" [cssText]="cssUserText"></app-useranswer>
        </div>
        <div  style="flex: 50%; border: 2px solid #dadce0; border-radius: 8px; margin: 5px; padding: 5px; max-width: 50%;">
            <div style="text-align: center;">
                Expected result:
            </div>
            <app-expectedanswer  [htmlText]="htmlText" [cssText]="cssExpectedText"></app-expectedanswer>
        </div>
    </div>
</div>
