<form class="w-75 mx-auto mt-4 mb-4">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" (focus)="hideAlert()" name="useremail" [(ngModel)]="searchUserEmail">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="searchUser()"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="searchErrMode">
            User did not find!
          </div>
    </div>
</form>
<table class="table table-striped table-bordered w-75 mx-auto mt-4">
    <thead>
        <tr>
            <th></th>
            <th colspan="3" style="text-align: center;">My achievements</th>
            <th colspan="3" style="text-align: center;">SearchUser achievements</th>
        </tr>
        <tr>
            <th>Level title<span (click)="byTitleSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !titleMode, 'fa-caret-up' : titleMode, 'fa-2x' : true}"></i></span></th>
            <th>Completed/All<span (click)="byOwnComCountSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !ownComCountMode, 'fa-caret-up' : ownComCountMode, 'fa-2x' : true}"></i></span></th>
            <th>Correct/All<span (click)="byOwnCorCountSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !ownCorCountMode, 'fa-caret-up' : ownCorCountMode, 'fa-2x' : true}"></i></span></th>
            <th>Current mark<span (click)="byOwnCurMarkSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !ownCurMarkMode, 'fa-caret-up' : ownCurMarkMode, 'fa-2x' : true}"></i></span></th>
            <th>Completed/All<span (click)="byAntComCountSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !antComCountMode, 'fa-caret-up' : antComCountMode, 'fa-2x' : true}"></i></span></th>
            <th>Correct/All<span (click)="byAntCorCountSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !antCorCountMode, 'fa-caret-up' : antCorCountMode, 'fa-2x' : true}"></i></span></th>
            <th>Current mark<span (click)="byAntCurMarkSort()" style="float: right; cursor: pointer;"><i [ngClass] = "{'fas' : true, 'fa-caret-down' : !antCurMarkMode, 'fa-caret-up' : antCurMarkMode, 'fa-2x' : true}"></i></span></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let achiev of compareAchievData let in=index">
            <tr>
                <td>{{achiev?.trainingTestTitle}}</td>
                <td>{{achiev?.ownCompletedCount}}</td>
                <td>{{achiev?.ownCorrectCount}}</td>
                <td>{{achiev?.ownCurrentMark}}</td>
                <td>{{achiev?.antCompletedCount}}</td>
                <td>{{achiev?.antCompletedCount}}</td>
                <td>{{achiev?.antCurrentMark}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!tableMode">
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
